<% content_for :js do %>
<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<% end %>

<h1>結帳</h1>

<%= render 'mycart', cart: @cart %>

<hr/>

<h3>收件人</h3>
<%= simple_form_for @order do |f| %>
  <%= f.input :name, label: false, placeholder:'收件者姓名' %>
  <%= f.input :tel, label: false, placeholder:'電話' %>
  <%= f.input :address, label: false, placeholder:'地址' %>
  <%= f.input :will_receive_email %>
  <hr />
  <div id="dropin"></div>

  <hr />
  <%= f.submit '確認下訂' %>
  <hr />
<% end %>

<script>
braintree.setup(
  "<%= @token %>",
  'dropin', {
    container: 'dropin'
  });
</script>

